pymongo>=4.3.3
dnspython>=2.3.1
pymongocrypt>=1.1.0
openpyxl>=3.1.2
parameterized>=0.8.1
mock>=4.0.0
tabulate>=0.9.0
pandas>=2.2.0

# Run the command in the terminal to ensure that the very latest versions are installed
# pip install --upgrade -r requirements.txt
# Run all tests: python -m unittest discover -s tests or python run_test.py
# Run a specific test: python -m unittest tests.test_indexing
